 *{
    padding: 0%;
    margin: 0%;
}

li a{
    text-decoration: none;
    color: black;
}

ul{
list-style: none;
}


.btn-menu {
    background-color: #f37021; 
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #7a3611; 
    color: white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 50px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
nav ul {
    list-style: none; 
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}
 
nav ul li a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
}

.produto-img {
    height: 200px;
    width: 200px;
}

.produtos h2 {
    color: #a31d1d;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.hero {
 background: url("Assents/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}


.caixa-icones{
  flex-direction: row;
  margin: 150px;} 

.tamanha-img{
    height: 100%;
}

.texto{
    text-align: center;
    background-color: white;
    
}
.cafe{
     background-color: #f37021; 
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.reposteria{
    color: rgb(10, 8, 8);
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.comida{
     color: rgb(10, 8, 8);
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}